.sign-up-form{

}

.form-login{
    max-width: 650px;
}

.btn-sign-up{
    background-color: #614EA6;
    color: #fff;
}

.btn-sign-up:hover{
    background-color: #F21667;
    color: #fff;
}

.login-btn{
    text-decoration: none;
}

.login-btn:hover{
    text-decoration: none;
}

